* {
  font-family: "Poppins", sans-serif;
  background-color: #150B0B;
  color: #998663;
}

.top-bar {
  background-color: #0F0813;
}

.nav-bar {
  background-color: #0F0813;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  padding: 1px 10px;
}

a {
  background-color: #0F0813;
  text-decoration: none;
}

.personal-logo {
  background-color: #0F0813;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photo-square {
  margin: 10px;
  background-color: #998663;
  height: 100px;
  width: 80px;
  display: flex;
  position: relative;
  bottom: 0;
}

.photo {
  background-color: #998663;
  height: 190px;
  width: 175px;
  display: flex;
}

.main-left-panel {
  background-color: #0F0813;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statement-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
  padding: 10px;
}

.statement-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
}

.box-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
}

h3 {
  background-color: #0F0813;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
  font-size: 11px;
}

.box-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
  padding: 10px;
}

.employer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0F0813;
  padding: 10px;
}

footer {
  background-color: #0F0813;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  padding: 1px 10px;
}